/* homepage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 36px;

  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh; 
    background-color: black;
    color: white;
  }
  
  #header-text {
    width: 50%;
  }
  
  #header-img img {
    max-height: 800px;
    width: auto;
  }
  
  header h1 {
    font-size: 54px;
    margin: 0;
  }
  
  header p {
    font-size: 1rem;
    margin: 0.5rem 0 2rem;
  }
  
  header nav {
    display: flex;
    flex-direction: column;
  }
  
  header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 30px;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 0; }

  
  .section-height {
    height: 800px;
  }
  
  .section-white-bg {
    background-color: white;
    color: black;
  }
  
  .section-black-bg {
    background-color: black;
    color: white;
  }
  
  section {
    margin: 20px;}
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
    display: inline-block;
  }
  
  #about .content,
  #contact .content {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  #about h2{
    border-bottom: 2px solid #000;

  }
#projects h2{
    margin: 20px;
}

  #projects .content {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-direction: row-reverse;
  }
  
  #about img,
  #contact img {
    max-height: 600px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  #conta
  
  #projects img {
    max-height: 600px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  #contact {
    height:300px;
  }
  #about p,
  #projects p,
  #contact p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }
  #contact h2 {
    border-bottom: 2px solid #000;

  }
  
  footer {
    text-align: center;
    padding: 1rem;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    background-color: black;
    color: white;
  }
  
  a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  #projects {
    background-color: black;
    color: white;
    margin: 0; 
    padding: 0; 
  }  
  #projects .content {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-direction: row-reverse;
  }
  
  #projects img {
    max-height: 600px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  #projects p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }
  #projects a{
    margin: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight:bold ;
}
#projects a:hover{
    margin: 20px;
    font-size: 1rem;
    color: #1e90ff;
    font-weight:bold ;
}
